main{background-color: rgb(110, 92, 54);}
#titulo{
    top:0;
    position: sticky;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 20px;
    font-size: large;
    text-align: center;
} 
#logo{
    margin-right: 120px;
}
#mates{
    display: inline;
}
#bombillas{
    display: inline;
}
.row{
    padding: 30px;
}
#calabaza{
    text-align: center;
    color: black;
    margin-bottom: 25px;
}
#acero{
    text-align: center;
    color: black;
    margin-bottom: 25px;
}
#bombillas{
    text-align: center;
    color: black;
    margin-bottom: 25px;
}